<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>タイトル追加画面</title>
</head>
<style>
.col_name {width:200px;}
    table {border-collapse: collapse;}
    form {display: inline;}
</style>
<body>
    <h1>タイトル追加</h1>
	 <form method="post" action="/titleCreate" th:object="${data}">
    <table border="1">
        <tr>
            <th class="col_charaName">タイトル名</th>
        </tr>
        <tr>
            <td><input type="text" name="titleName" size="20"
                        maxlength="20"/>
            </td>
        </tr>
    </table>
    <hr>
    <input type="submit" value="追　加" />
    </form>
    <form action="javascript:void(0)" onclick="javascript:history.back()">
        <input type="submit" value="戻　る" />
    </form>
</body>
</html>